.content{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar{
    width: 85%;
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 45, 45);
    bottom: 3%;
    position: absolute;
}

