.input{
    display: flex;
    position: absolute;
    left: 0px;

}
.content{
    display: flex;
    position: absolute;
    flex-direction: column; }
    
.content::-webkit-scrollbar {
    display: none;
}
.input::-webkit-scrollbar {
    display: none;
}